h1, h2, h5, table, th, td, div, h4 {
    font-family: "Tahoma", Geneva, sans-serif;
}

table, th, td {
	padding: 0.5rem;
	text-align: center;
}

table.dataTable {
	border-collapse: collapse !important;
	max-width: 100% !important;
}

th {
    background-color: #4CAF50;
    color: white;
}
div {
	padding: 5px;
}

input[type="radio"]{
  margin: 0 0px 0 15px;
}

label {
	font-weight: bold;
}

 body {
 padding-bottom: 100px;
 padding-top: 25px;
 background-color : #FAFFFA;
 }
 
 table {
   margin: 0px auto;
   width: 50% !important; 
}

.navbar-brand {
   width: 150px; 
}

.page-item.active .page-link {
	background-color: transparent;
	border-color: #28a745;
	color: #28a745;
}

 .page-link {
	background-color: transparent;
	border-color: #ddd;
	color: #868e96;
}

.modal-header {
    background-color: #4CAF50;
    color: white;
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("http://wallpaperzone.co/wp-content/uploads/2016/07/Green-Forest-HD-Wallpaper.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}